/* 
@author   David Nadeau
@page     styles.css
@purpose  styles for website, including tables/layouts/forms/sidebar
*/

body {
  background-image: url(../images/body-linen.jpg);
  background-repeat: repeat;
  background-position: top left;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* STYLE SIDEBAR */
.side-bar {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
.side-bar .logo {
  color: #fff;
  text-align: center;
  display: block;
  font-weight: 300;
  margin-bottom: 40px;
}
.side-bar .logo span {
  text-transform: uppercase;
  font-size: 26px;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.side-bar .side-menu {
  border: 1px solid #14161C;
  background-color: #3b3f4d;
  border-radius: 4px;
  padding: 0px 3px;
  list-style: none;
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2);
}
.side-bar .side-menu ul {
  list-style: none;
  display: none;
}
.side-bar .side-menu li {
  margin: 0px;
}
.side-bar .side-menu li a {
  display: block;
  border-radius: 0px;
  border-bottom: 1px solid #292D38;
  -webkit-box-shadow: inset 0px 1px 0px 0px #434756;
  box-shadow: inset 0px 1px 0px 0px #434756;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 18px;  
}
.side-bar .side-menu li a i {
  margin-right: 15px;
  padding-right: 15px;
  font-size: 24px;
  width: 45px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #292D38;
  -webkit-box-shadow: 1px 0px 0px 0px #434756;
  box-shadow: 1px 0px 0px 0px #434756;
}
.side-bar .side-menu li a:hover {
  margin: 0px -3px;
  padding: 15px 21px;
  position: relative;
  border-bottom: 1px solid #27ae60;
  background-color: #27ae60;
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.side-bar .side-menu li:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.side-bar .side-menu li:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.side-bar .side-menu li.active > a,
.side-bar .side-menu li.current > a,
.side-bar .side-menu li:hover > a {
  margin: 0px -3px;
  padding: 15px 21px;
  position: relative;
  border-bottom: 1px solid #8f4949;
  background-color: #27ae60;
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.side-bar .side-menu li.active > a i,
.side-bar .side-menu li.current > a i,
.side-bar .side-menu li:hover > a i {
  border-right: 1px solid #773A3A;
  -webkit-box-shadow: 1px 0px 0px 0px #9b5757;
  box-shadow: 1px 0px 0px 0px #9b5757;
  color: #fff;
}
.side-bar .side-menu li.active li:first-child a,
.side-bar .side-menu li.current li:first-child a,
.side-bar .side-menu li:hover li:first-child a {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.side-bar .side-menu li.active li:last-child a,
.side-bar .side-menu li.current li:last-child a,
.side-bar .side-menu li:hover li:last-child a {
  border-bottom: none;
}
.side-bar .side-menu li.active:last-child a,
.side-bar .side-menu li.current:last-child a,
.side-bar .side-menu li:hover:last-child a {
  border-bottom: none;
}
.side-bar .side-menu li.active ul,
.side-bar .side-menu li.current ul {
  display: block;
}
.side-bar .side-menu ul li a {
  border-bottom: 1px solid #1F222B;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3c414f;
  box-shadow: inset 0px 1px 0px 0px #3c414f;
  color: #D0D3DB;
  padding: 15px 21px;
}
.side-bar .side-menu ul li a:hover {
  background-color: #2a2e3a;
}
.side-bar .side-menu ul li i {
  color: #D0D3DB;
}

/* STYLE MAIN CONTENT DIV */
.content {
  -webkit-box-shadow: 0px 2px 40px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 40px 2px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin: 15px;
}
.content .page-header {
  background-color: #27ae60;
  color: #fff;
  padding: 15px 20px;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1), 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1), 0px 2px 3px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 20;
  border: 1px solid #145b32;
  border-bottom: 1px solid #19703e;
  margin: 0px -1px;
}
.content .page-header h1 {
  margin: 0px;
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  font-size: 28px;
  line-height: 40px;
}
.content .page-header h1 i {
  font-size: 32px;
  margin-right: 10px;
}
.content .page-header .links {
  border-bottom: 1px solid #229955;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  padding-bottom: 5px;
  margin-top: -10px;
  float: right;
}
.content .page-header .links > a {
  color: #ebebeb;
  padding: 0px 5px;
  margin: 0px 5px;
  border-left: 1px solid #36d278;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
}
.content .page-header .links > a i {
  font-size: 16px;
  color: #60db94;
  margin-right: 5px;
  margin-left: 5px;
}
.content .page-header .links > a:hover i {
  color: #fff;
}
.content .main-content {
  background-color: #f3eee7;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  padding: 30px;
  -webkit-box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);
}

.content .main-content .container{
  padding: 0px;
}
.content .main-content #profile-icon{
  font-size: 9em;
}
.content .main-content h2 {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 2px solid #ddd;
}
.content .main-content h3 {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
}

/* STYLE COURSE ADDITION FORM */
#NewCourseForm {
  margin-top:5px;
  background-color: #fefefe;
  padding: 15px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);

}
#NewCourseForm span {
  color:#1234567;
  width:80%;
}
#NewCourseForm input[type="text"] {
  width:90%;
}
#NewCourseForm button[type="button"] {
  margin-top:10px;
  width:90%;
}
#NewCourseForm button[type="button"] i{
  float:left;
  line-height: 20px;
}

/* STYLE USER SUMMARY BOXES */
.userdetails {
  background-color: #ede6c2;
  border-color: #d6b573;
  color: #c4ab84;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.1), 0px 1px 2px 0px #fff;
  box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.1), 0px 1px 2px 0px #fff;
  border-top: 1px solid #caa14c;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.userdetails:hover {
  color: #89724d;
}
.userdetails .numbers{
  font-size:22px;
}
.userdetails i {
  color:#e2d2b9;
  font-size:9em;
  width:100%;
  text-align:center;
  margin-left:auto;margin-right:auto;
}
.userdetails:hover i {
  color:#e2ccaa;
}

/** fluid grid layout */
.container {
  position:relative;  
  padding: 40px;
}

/** 12 column grid layout. (1/12)% width for each column */
.container .row .col-1  {float:left;width:8.333333333333332%}
.container .row .col-2  {float:left;width:16.666666666666664%}
.container .row .col-3  {float:left;width:25%}
.container .row .col-4  {float:left;width:33.33333333333333%}
.container .row .col-5  {float:left;width:41.66666666666667%}
.container .row .col-6  {float:left;width:50%}
.container .row .col-7  {float:left;width:58.333333333333336%}
.container .row .col-8  {float:left;width:66.66666666666666%}
.container .row .col-9  {float:left;width:75%;}
.container .row .col-10 {float:left;width:83.33333333333334%}
.container .row .col-11 {float:left;width:91.66666666666666%}
.container .row .col-12 {float:left;width:100%}

/** offset a column to position within the 12 column grid*/
.container .row .offset-1  {margin-left:8.333333333333332%}
.container .row .offset-2  {margin-left:16.666666666666664%}
.container .row .offset-3  {margin-left:25%}
.container .row .offset-4  {margin-left:33.33333333333333%}
.container .row .offset-5  {margin-left:41.66666666666667%}
.container .row .offset-6  {margin-left:50%}
.container .row .offset-7  {margin-left:58.333333333333336%}
.container .row .offset-8  {margin-left:66.66666666666666%}
.container .row .offset-9  {margin-left:75%}
.container .row .offset-10 {margin-left:83.33333333333334%}
.container .row .offset-11 {margin-left:91.66666666666666%}
.container .row .offset-12 {margin-left:100%;}


/* STYLE COURSE LIST, TABLE CSS TAKEN FROM:
   http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:none;
}
table {
  margin-top:20px;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
}
table td:first-child {
  text-align: left;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}