<!DOCTYPE html>
<html lang="en" ng-app="Grades">

<head>
	<title>Grades</title>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="side-bar">
					<a href="#/home" class="logo">
						<img src="images/logo.png">
						<span>Grades</span>
					</a>
					<ul class="side-menu" ng-controller="MenuCtrl">
						<li ng-repeat="link in menuLinks" 
							ng-class="{ 'current': $index == selectedIndex }"
				            ng-click="itemClicked($index)"> 
				            <a href="#/{{link.link}}">
								<i class="icon-{{link.link}}"></i> {{link.text}}
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-9">
				<div ng-view></div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
	<script src="app/App.js"></script>
	<script src="app/Routing.js"></script>
	<script src="app/Controllers/MenuCtrl.js"></script>
	<script src="app/Controllers/Controllers.js"></script>
	<script src="app/Controllers/StartedCtrl.js"></script>
	<script src="app/Services/FormatCourses.js"></script>
</body>

</html>