<div class="page-header">
	<a href="#/login"    ng-hide="status()">Login</a>
	<a href="#/register" ng-hide="status()">Register</a>
	<a href="#/details"	 ng-show="status()" ng-click="logout()">Logout</a>
	<a ng-show="status()"><i class="fa-lock"></i> {{user.name}}</a>
	<h1><i class="icon-bar-chart"></i>Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<p>please login or register.</p>
</div>
<div class="main-content" ng-show="status()">
	<input type="text" ng-model="courseListInput"/>
	<input type="button" ng-click="onSubmit()"/>
	<li ng-repeat="course in courses">
		{{course.major}}
		{{course.name}}
		{{course.mark}}
		{{course.credit}}
		{{course.weight}}
	</li>
	<pie-chart></pie-chart>
</div>