<!-- 
@author		David Nadeau
@page		details.html
@purpose	display list of courses allowing deletion/addition/bulk addition/seraching
-->

<div class="page-header">
	<div class="links">
		<a href="#/register" ng-hide="status()"><i class="fa fa-lock"></i> Register</a>
		<a href="#/login"    ng-hide="status()"><i class="fa fa-sign-in"></i> Login</a>
		<a ng-show="status()"><i class="fa fa-user"></i> {{user.name}}</a>
		<a href="#/home"	 ng-show="status()" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
	</div>
	<h1><i class="fa fa-cogs"></i> Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<p>please login or register.</p>
</div>
<div class="main-content" ng-show="status()">
	<div class="container" ng-controller='CourseCtrl'>
		<div class="row">
			<div class="col-12">
				<h2>Course Details</h2>
				<div class="col-8">
					<div class="col-4">
						<button ng-click="showNewCourseForm()"><i class="fa fa-plus-circle"></i> New Course</button>
					</div>
					<div class="col-8">
						<i class="fa fa-plus-square"></i> Bulk Insert:
						<input type="text" ng-model="courseListInput"/>
						<input type="button" ng-click="onSubmit()" value="Insert">
					</div>
				</div>
				<div class="col-4"><i class="fa fa-search"></i> Search: <input ng-model="query"></div>
				<div class="col-12" ng-show="isNewCourseFormVisible()">
					<form  name="form" ng-model="course" id="NewCourseForm" class="form-group" novalidate>
						<div class="col-6">
							<div class="col-4">
								<span>Subject: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.subject" required/>
							</div>
						</div>
						<div class="col-6">
							<div class="col-4">
								<span>Number: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.number" required/>
							</div>
						</div>
						<div class="col-6">
							<div class="col-4">
								<span>Year: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.year" required/>
							</div>
						</div>
						<div class="col-6">
							<div class="col-4">
								<span>Weight: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.weight" required/>
							</div>
						</div>
						<div class="col-6">
							<div class="col-4">
								<span>Mark: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.mark" required/>
							</div>
						</div>
						<div class="col-6">
							<div class="col-4">
								<span>Credit: </span>
							</div>
							<div class="col-8">
								<input type="text" class="form-control" ng-model="course.credit" required/>
							</div>
						</div>
						<div class="col-3">
							<button class="btn btn-danger" type="button" ng-click="hideNewCourseForm()"><i class="fa fa-ban"></i> Cancel</button>
						</div>
						<div class="col-3 offset-6">
							<button class="btn btn-success" type="button" ng-click="addNewCourse()" ng-disabled="form.$invalid"><i class="fa fa-plus"></i> Add Course</button>
						</div>
						<br style="clear: both" />
					</form>
				</div>
			</div>
			<div class="col-12">
				<table>
					<tr>
						<th>Subject</th>
						<th>Number</th>
						<th>Mark</th>
						<th>Year</th>
						<th>Credit Earned</th>
						<th>Weight</th>
						<th>Delete</th>
					</tr>
					<tr ng-repeat="course in courses | orderBy:['subject','number'] | filter:query">
						<td>{{course.subject}}</td>
						<td>{{course.number}}</td>
						<td>{{course.mark}}</td>
						<td>{{course.year}}</td>
						<td>{{course.credit | creditFilter}}</td>
						<td>{{course.weight | number:1}}</td>
						<td><a href="#/details" ng-click="deleteCourse(course)"><i class="fa fa-eraser"></i></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br style="clear: both" />
</div>