<div class="page-header">
	<a href="#/login"    ng-hide="isLoggedIn()">Login</a>
	<a href="#/register" ng-hide="isLoggedIn()">Register</a>
	<a ng-show="isLoggedIn()"><i class="fa-lock"></i> {{user.name}}</a>
	<h1><i class="icon-bar-chart"></i>Brock Grade Visualizer!</h1>
</div>
<div class="main-content">
	<input type="text" ng-model="courseListInput"/>
	<input type="button" ng-click="onSubmit()"/>
	<li ng-repeat="course in courses">
		{{course.major}}
		{{course.name}}
		{{course.mark}}
		{{course.credit}}
		{{course.weight}}
	</li>
	<pie-chart></pie-chart>
</div>
