<!-- 
@author		David Nadeau
@page		home.html
@purpose	show student grade/credit summary and grade trends
-->

<div class="page-header">
	<div class="links">
		<a href="#/register" ng-hide="status()"><i class="fa fa-lock"></i> Register</a>
		<a href="#/login"    ng-hide="status()"><i class="fa fa-sign-in"></i> Login</a>
		<a ng-show="status()"><i class="fa fa-user"></i> {{user.name}}</a>
		<a href="#/home"	 ng-show="status()" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
	</div>
	<h1><i class="fa fa-cogs"></i> Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<p>please login or register.</p>
</div>
<div class="main-content with-3d-shadow with-transitions" ng-show="status()">
	<div class="container" ng-controller="CourseCtrl">
		<div class="row">
			<div class="col-12">
				<h2>User Dashboard</h2>
				<div class="col-2">
					<i class="fa fa-user" id="profile-icon"></i>
				</div>
				<div class="col-4 userdetails">
					<p>
						User: {{user.name}} <br />
						Major: {{user.major}} <br />
					</p>
					<br /><br />
				</div>
				<div class="col-6"></div>
			</div>
			<br />
			<div class="col-7">
				<h3>Brock Summary</h3>
				<div class="col-6 userdetails">
					<h3>Credits</h3>
					<i class="fa fa-tasks"></i>
					<div class="numbers">
					<div class="col-4">{{totalCredits | number:1}}</div><div class="col-4">{{majorCredits | number:1}}</div><div class="col-4">{{minorCredits | number:1}}</div>
					</div><br />
				    <div class="col-4">Overall</div><div class="col-4">Major</div><div class="col-4">Minor</div><br />
				</div>
				<div class="col-6 userdetails">
					<h3>Average</h3>
					<i class="fa fa-bar-chart-o"></i>
					<div class="numbers">
					<div class="col-4">{{overallAverage | number:2}}</div><div class="col-4">{{majorAverage | number:2}}</div><div class="col-4">{{minorAverage | number:2}}</div>
					</div><br />
				    <div class="col-4">Overall</div><div class="col-4">Major</div><div class="col-4">Minor</div><br />
				</div>
			</div>
			<div class="col-5">
				<pie-chart data="courseDistribution"></pie-chart>
			</div>
			<div class="col-12">
				<h3>Grade Trends</h3>
				<stacked-chart data="gradesByYear"></stacked-chart>
			</div>
		</div>
	</div>
	<br style="clear: both" />
</div>
