<div class="page-header">
	<a href="#/login"    ng-hide="status()"><i class="fa fa-sign-in"></i> Login</a>
	<a href="#/register" ng-hide="status()"><i class="fa fa-lock"></i> Register</a>
	<a href="#/home"	 ng-show="status()" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
	<a ng-show="status()"><i class="fa fa-user"></i> {{user.name}}</a>
	<h1><i class="fa fa-cogs"></i> Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<form ng-model="userLogin">
		<p>Profile Name:
		<input type="text" ng-model="userLogin.name"/></p>
		<p>Profile Password:
		<input type="text" ng-model="userLogin.password"/></p>
		<p>
		<input type='submit' value='Login' ng-click="login()"/> </p> 
	</form>
</div>
<div class="main-content" ng-show="status()">
	<p>Hello {{user.name}}, use sidebar to see your grades.</p>
	<p>First time? Click the getting started tab and learn the ropes.</p>
</div>