<div class="page-header">
	<div class="links">
		<a href="#/register" ng-hide="status()"><i class="fa fa-lock"></i> Register</a>
		<a href="#/login"    ng-hide="status()"><i class="fa fa-sign-in"></i> Login</a>
		<a ng-show="status()"><i class="fa fa-user"></i> {{user.name}}</a>
		<a href="#/home"	 ng-show="status()" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
	</div>
	<h1><i class="fa fa-cogs"></i> Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<form ng-model="userRegistration">
		<p>Profile Name:
		<input type="text" ng-model="userRegistration.name"/></p>
		<p>Profile Major:
		<input type="text" ng-model="userRegistration.major"/></p>
		<p>Profile Password:
		<input type="text" ng-model="userRegistration.password"/></p>
		<p>
		<input type='submit' value='Register' ng-click="register()"/> </p> 
	</form>
</div>
<div class="main-content" ng-show="status()">
	<p>User {{user.name}} successfully registered. Please log in.</p>
</div>