<div class="page-header">
	<a href="#/login"    ng-hide="status()">Login</a>
	<a href="#/register" ng-hide="status()">Register</a>
	<a ng-show="status()"><i class="fa-lock"></i> {{user.name}}</a>
	<h1><i class="icon-bar-chart"></i>Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<form ng-model="userRegistration">
		<p>Profile Name:
		<input type="text" ng-model="userRegistration.name"/></p>
		<p>Profile Major:
		<input type="text" ng-model="userRegistration.major"/></p>
		<p>Profile Password:
		<input type="text" ng-model="userRegistration.password"/></p>
		<p>
		<input type='submit' value='Register' ng-click="register()"/> </p> 
	</form>
</div>
<div class="main-content" ng-show="status()">
	<p>User {{user.name}} successfully registered. Please log in.</p>
</div>