<div class="page-header">
	<a href="#/login"    ng-hide="status()">Login</a>
	<a href="#/register" ng-hide="status()">Register</a>
	<a ng-show="status()"><i class="fa-lock"></i> {{user.name}}</a>
	<h1><i class="icon-bar-chart"></i>Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-hide="status()">
	<p>please login or register.</p>
</div>
<div class="main-content" ng-show="status()">
	<div ng-controller="StartedCtrl">
		<button ng-click="getCourses()">Get Courses</button>
		<li ng-repeat="course in courses">
			{{course.subject}}
			{{course.number}}
			{{course.mark}}
			{{course.credit}}
			{{course.weight}}
		</li>
	</div>
</div>