<!-- 
@author		David Nadeau
@page		started.html
@purpose	show user how to use the site
-->

<div class="page-header">
	<div class="links">
		<a href="#/register" ng-hide="status()"><i class="fa fa-lock"></i> Register</a>
		<a href="#/login"    ng-hide="status()"><i class="fa fa-sign-in"></i> Login</a>
		<a ng-show="status()"><i class="fa fa-user"></i> {{user.name}}</a>
		<a href="#/home"	 ng-show="status()" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
	</div>
	<h1><i class="fa fa-cogs"></i> Brock Grade Visualizer!</h1>
</div>
<div class="main-content" ng-controller="MenuCtrl">
	<h2>Using the Grade Visualizer</h2>
	<h3>Adding Courses</h3>
	<p>You can either add courses 1 at a time, or use the bulk insert to add many at once.</p>
	<h4>Single Course</h4>
	<p>
		On the Profile Detail page:
		<ol> 
			<li>click + New Course</li>
			<li>Fill in the form, <strong>every field is required</strong></li>
			<li>Click the green button labelled + New Course</li>
		</ol>
		You can cancel the process at any time clicking the red button label cancel. <br />
		You can see how this course has changed your grades on the User Dashboard page.
	</p>
	<h4>Bulk Course Insert</h4>
	<p>
		Bulk inserting is also very simple.
		<ol>
			<li>Go to your brock <a href="https://my.brocku.ca/BrockDB/reg_CourseMarkInquiry.aspx">Course and Mark inquiry</a> page. </li>
			<li>Highlight all the courses you wish to insert</li>
			<li>Copy them to your clipboard with Ctrl + c</li>
			<li>On the Profile Detail page, paste the contents of your clipboard with Ctrl + p into the input field labelled + Bulk Insert</li>
			<li>Click the button labelled insert</li>
		</ol>
		Your courses are now all inserted. You can see how these courses have changed your grades on the User Dashboard page. <br />
		Here's a sample list of grades for testing purposes <a href="grades.txt">sample.</a>
	</p>
	<h3>Removing Courses</h3>
	<p>
		To remove a course:
		<ol> 
			<li>Go to the Profile Detail page</li>
			<li>Search for the course you wish to delete or scroll through the list to find it</li>
			<li>Click the eraser in the last column of the courses row</li>
		</ol>
	</p>
</div>